@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your CSS file */
.visible {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .gallery-image {
    width: 90% !important;
    padding-left: 70px !important;
  }
  .programs {
    padding-top: 20px !important;
  }
}
